extends ../../layouts/default

block content
	.container-sm: .pv-2
		h1!=errorTitle || 'Not found (404)'
		if 'object' == typeof errorMsg
			div(style='margin: 30px 0;').debug!= htmlStringify(errorMsg)
		else
			p.lead!= utils.textToHTML(errorMsg) || 'If you found this page, you probably know what it means. Good luck on your travels :)'
		p: a(href='/').btn.btn-primary.btn-lg SydJS Home
