{
  "extends": "standard",
  "plugins": [
    "react",
  ],
  "ecmaFeatures": {
    "jsx": true,
  },
  "rules": {
    "indent": [2, "tab"],
    "semi": [2, "always"],
    "comma-dangle": [2, "always-multiline"],
  },
}
