mixin organiser(org)
	.organiser
		.organiser__header
			.img-wrapper
				img(src=org.image, alt='SydJS organiser - ' + org.name, width=40, height=40).img-circle
			h4.organiser__name=org.name
			p.organiser__twitter: a(href='https://twitter.com/' + org.twitter, target='_blank') @#{org.twitter}
		p.mv-0=org.title