#next-meetup(data-id=meetup.id).form-row.meetup-toggle
	.col-xs-6
		button(type='button').btn.btn-lg.btn-block.btn-default.js-rsvp-attending Yes
	.col-xs-6
		button(type='button').btn.btn-lg.btn-block.btn-default.js-rsvp-decline No