#next-meetup(data-id=meetup.id).form-row.meetup-toggle
	.col-xs-8
		button(type='button').btn.btn-lg.btn-block.btn-default.js-rsvp-attending See you there
	.col-xs-4
		button(type='button').btn.btn-lg.btn-block.btn-default.btn-decline.js-rsvp-decline Can't make it?
