.social-signup-buttons
	.signup-button: a(href=args && args.modal ? '/auth/github?type=default-signin' : '/auth/github?type=profile-signin', title='Sign in with Github').btn.btn-github.btn-block
		span.entypo-social.entypo-github
		span.signup-button__text  Github
	
	.signup-button: a(href=args && args.modal ? '/auth/facebook?type=default-signin' : '/auth/facebook?type=profile-signin', title='Sign in with Facebook').btn.btn-facebook.btn-block
		span.entypo-social.entypo-s-facebook
		span.signup-button__text  Facebook
	
	.signup-button: a(href=args && args.modal ? '/auth/google?type=default-signin' : '/auth/google?type=profile-signin', title='Sign in with Google').btn.btn-google.btn-block
		span.entypo-social.entypo-google
		span.signup-button__text  Google
	
	.signup-button: a(href=args && args.modal ? '/auth/twitter?type=default-signin' : '/auth/twitter?type=profile-signin', title='Sign in with Twitter').btn.btn-twitter.btn-block
		span.entypo-social.entypo-twitter
		span.signup-button__text  Twitter
