extends ../../layouts/default

block body
	.container-xs
		.page-intro
			h1 Forgotten your password?
			+flash-messages(messages)
		.page-content
			p.lead No problem, we'll send you a link to reset it.
			+auth-forms({ modal: false, initial: 'password' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
