extends ../../layouts/default

block body
	.container-xs
		h1 Forgotten your password?
		p.lead No problem, we'll send you a link to reset it.
		+flash-messages(messages)
		+auth-forms({ modal: false, initial: 'password' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
