extends ../../layouts/session

block content
	//- .row: .col-md-6.col-md-offset-3
	h1 Signed out
	p.lead See you again soon...
	p: a(href='/signin').btn.btn-primary.btn-block Sign in again
	p: a(href='/').btn.btn-default.btn-block Home, Jeeves!
