extends ../../layouts/default

block body
	.container-xs
		h1 Sign into SydJS
		+flash-messages(messages)
		+auth-forms({ modal: false, initial: 'signin' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
