//- SITE FOOTER
footer.site-footer: .container
	p Copyright &copy; 2013 SydJS. Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.
	p If you run a meetup, please feel free to clone our site and make your own! You can <a href="https://github.com/JedWatson/sydjs-site", target='_blank'>find it on GitHub</a>.