// HOME PAGE
// ------------------------------------------------------

// About
// ------------------------------

.home-about {
	background: url( "/images/group-photo.jpg" ) center bottom no-repeat #f9f9f9;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding-top: 6em;
	padding-bottom: 18em;
}

// LINKS
.home-links {
	text-align: center;
	.home-links__heading a {
		color: @headings-color;

	}
	
	.link-icon-badge {
		.square( 90px );
		border-radius: 50%;
		display: inline-block;
		line-height: 90px;
		text-align: center;
	}
	.link-icon {
		color: @text-color;
		display: inline-block;
		font-size: 80px;
		margin-top: -4px;
		vertical-align: middle;
	}
	@media (min-width: @screen-sm-min) {
		.link-icon-badge {
			margin-left: 0;
			margin-right: 0;
		}
	}
}





// BLOG
.home-blog {
	background-color: white;
	
	.illustrative-heading__line { border-color: #eee; }
	.illustrative-heading__text { background-color: white; }
	
	@media (min-width: @screen-sm-min) {
		.container {
			width: @screen-sm-min;
		}
	}
}






