//
// Layout
// ==============================
html { .square( 100% ); }
body { height: 100%; font-weight: 300; }


// Containers
// ------------------------------
/*
.container-xs,
.container-sm,
.container-md {
	.container-fixed();
}
@media (min-width: @screen-sm-min) {
	.container-xs { width: 600px; }
	.container-sm { width: @screen-sm-min - @grid-gutter-width; }
	.container-md { max-width: @screen-md-min - @grid-gutter-width; }
}
*/

// Layers
// -----------------------------------------------------------
.floor { position: relative;}
.ground { z-index: -1; }
.floor-1 { z-index: 1; }
.floor-2 { z-index: 10; }
.floor-3 { z-index: 100; }
.floor-4 { z-index: 110; }
.floor-5 { z-index: 120; }
.floor-6 { z-index: 130; }
.ceiling { z-index: 1000; }



// Body
// ------------------------------
.site-body {
	position: relative;
	.floor-1;
	padding-top: @navbar-height + 11;
}



// Footer
// ------------------------------
.site-footer {
	position: relative;
	border-top: 1px solid fade(black, 10%);
	margin-top: 60px;
	padding: 3em 0;
	color: @gray;
	background: #FEFEFE;
	font-weight: 300;

	ul, ol {
		.list-unstyled();
	}
	p {
		margin-bottom: 5px;
	}
	a {
		color: @gray;
	}
	
}
.footer-heading {
	color: @gray;
}
.footer-copyright {
	margin-top: 2em;
	padding-top: 2em;
	border-top: 1px solid fade(black, 10%);
	text-align: center;
}

// Sticky footer (only on desktop)
// ------------------------------
@footerHeight: 280px;
.site-wrapper.site-wrapper--has-sticky-footer {
	position: relative;
	padding-bottom: @footerHeight;
	min-height: 100%;
	@media (max-width: @screen-xs-max) {
		padding-bottom: 0;
	}
}

.site-footer.site-footer--sticky {
	.ground;
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: @footerHeight;
	@media (max-width: @screen-xs-max) {
		position: relative;
		bottom: auto;
		height: auto;
	}
}




// Links
// ------------------------------

.links-list {
	h3 {
		margin: 5px 0 0 0;
	}
	
	h4 a { color: @text-color; }
	.byline { margin: 0 0 0 0; }
	
	.link {
		margin: 0;
		font-size: @font-size-base + 2;
	}

	.tags-list {
		margin: 10px 0 0;
		a {
			padding: 2px 10px;
			font-size: @font-size-base - 2;
		}
	}
	
	.description {
		margin: 10px 0;
	}
}

.tags-list {
	position: relative;
	overflow: hidden;
	li {
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	a {
		display: inline-block;
		padding: 2px 10px;
		border-radius: @border-radius-base;
		background-color: @gray-light;
		color: white;
		font-size: @font-size-base;
		
		&:hover {
			background-color: @link-color;
			text-decoration: none;
		}
		&.active {
			background-color: @link-color;
		}
	}
}

.links-list + .links-list {
	margin-top: 30px;
}








// Page
// ------------------------------


// intro

.page-intro {
	padding: @page-padding 0;
	text-align: center;
	
	.buttons > .btn {
		margin-right: 10px;
	}
	.lead {
		max-width: @screen-sm-min - @grid-gutter-width;
		margin-left: auto;
		margin-right: auto;
	}
}


// content

.page-content {
	padding: @page-padding;
}
	



// Misc
// ------------------------------

.back-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	
	p {
		margin-bottom: 8px;
	}
}
.thumbnail {
	background-color: white;
}




// organisers
.about-organisers {
	.organiser {
		.img-wrapper {
			.square( 40px );
			float: left;
			overflow: hidden;
			margin-right: 9px;
			
			img {
				.img-responsive();
			}
		}
	}
	.organiser__name {
		margin: 0;
	} 
	.organiser__twitter {
		margin-bottom: 9px;
		font-size: @font-size-base;
	} 
}





// share buttons
.share-buttons {
	margin: 20px 0;
	min-height: 20px;
	
	@media (min-width: @screen-sm-min) {
		&.right {
			float: right;
		
			.share-button {
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}
}	

.share-button {
	display: inline-block;
	margin-right: 10px;
	width: 76px;
	vertical-align: middle;
}



// organisations
.org__heading {
	margin-top: 0;
	
	a {
		color: @headings-color;
	}
}
.org__location {
	.text-muted();
}
.org__location-icon {
	float: left;
	// margin-top: 2px;
	margin-right: 10px;
	font-size: 42px;
}
.org__location-address {
	display: table;
}
.org__logo {
	display: block;
	margin-bottom: 20px;
}
@media (min-width: @screen-sm-min) {
	.org__logo img {
		.img-responsive();
	}
}



// Animation
// ------------------------------

@-moz-keyframes pulse {
  0% { -moz-transform: scale(1); }
  50% { -moz-transform: scale(1.4); }
  100% { -moz-transform: scale(1); }
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}
@-o-keyframes pulse {
  0% { -o-transform: scale(1); }
  50% { -o-transform: scale(1.4); }
  100% { -o-transform: scale(1); }
}
@-ms-keyframes pulse {
  0% { -ms-transform: scale(1); }
  50% { -ms-transform: scale(1.4); }
  100% { -ms-transform: scale(1); }
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
