.home-links h2 {
	text-align: center;
}

.home-links-anchor {
	display: block;
	text-align: center;
}

@media (min-width: @screen-sm-min) {
 	.home-links .link-icon-badge {
		margin-left: auto;
		margin-right: auto;
	}
}

.advertisement {
	display: none;

	color: #dcd6cd;
	font-size: small;
	font-weight: 300;

	figcaption {
	}

	img {
		max-height: 90px;
		width: 100%;
	}
}
