extends layouts/base

block content
	h1 Hi #{admin},
	p #{author} just posted to the SydJS blog:
	p: strong= title
	p You can <a href="#{host}/keystone">approve or reject it</a> from the Keystone admin UI.