extends layouts/base

block content
	p Hi #{user.name.first},
	p You recently requested a link to reset your SydJS password.
	p Please set a new password by following the link below:
	a(href=host + link)= host + link