extends /layouts/default

block body-contents
	h1 Hi #{name},
	p Forgotten your password?
	p No problem, click the link below and we'll send you a link to reset it.
	+button({ url: link, label: 'Reset password', background_color: '#2697de', border_color: '#1a7cb7', border_width: '1px', border_radius: 4, color: '#fff', height: 40, width: '100%' })
