// bootstrap
@import "bootstrap/bootstrap.less";
@import "site/entypo.less";

// entypo in headings
h1 > .entypo,
h2 > .entypo,
h3 > .entypo,
h4 > .entypo {
	display: inline-block;
	vertical-align: middle;
	& + span {
		display: inline-block;
		margin-left: .5em;
		vertical-align: middle;
	}
}

@media (min-width: @screen-sm) {
	body {
		font-size: 16px;
	}
	.dl-horizontal {
		dt {
			text-align: left;
			width: 100px;
		}
		dd {
			margin-left: 100px;
		}
	}
}

// footer
#sydjs-footer {
	
	border-top: 1px solid @gray-lighter;
	margin-top: 100px;
	padding: 50px 0;
	position: relative;
	text-align: center;
	
	p {
		color: @gray-light;
		margin-bottom: 0;
		text-align: left;
	}
	
}

// blog
article .post {
	p:first-child {
		.lead();
		margin-top: 30px;
	}
}

// type settings
p {
	line-height: 1.5;
	margin: 0 0 20px;
}
h1 {
	font-size: 48px;
	font-weight: 200;
	line-height: 48px;
	margin: 40px 0 40px;
}
h2 {
	border-bottom: 1px solid @gray-lighter;
	font-weight: bold;
	margin: 40px 0 20px 0;
	padding-bottom: 20px;
}
h3 {
	margin: 40px 0 20px;
}