extends ../../layouts/default

include ../../mixins/post

block content
	.container
		h1=data.category ? data.category.name : 'Blog'
		.row
			.col-sm-9	
				if filters.category && !data.category
					h3 Invalid Category.
				else
					if data.posts.length
						.blog
							each post in data.posts
								+post(post)
					else
						if data.category
							h3 No posts in the category #{data.category.name}.
						else
							h3 There are no posts yet.
			
			.col-sm-3
				if data.categories.length
					//- h2 Categories
					.list-group(style='margin-top: 70px;')
						a(href='/blog', class=!data.category ? 'active' : false).list-group-item All Categories
						each cat in data.categories
							a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
