extends ../../layouts/default

include ../../mixins/link

block intro
	.page-intro: .container
		h1=data.tag ? data.tag.name : 'Link'
		p Tutorials, Libraries, Frameworks and blog posts mentioned in SydJS talks, or just of general usefulness. Join to contribute.
		if !user
			.buttons
				a(href='/join').btn.btn-primary Join SydJS
				a(href='/signin').btn.btn-default Sign In

block content
	.container
		.row
			.col-sm-9	
				if filters.tag && !data.tag
					h3 Invalid tag.
				else
					if data.links.length
						.blog
							each link in data.links
								+link(link)
					else
						if data.tag
							h3 No links in the tag #{data.tag.name}.
						else
							h3 There are no links yet.
			
			.col-sm-3
				if data.tags.length
					//- h2 Categories
					.list-group(style='margin-top: 70px;')
						a(href='/links', class=!data.tag ? 'active' : false).list-group-item All Categories
						each cat in data.tags
							a(href='/links/' + cat.key, class=data.tag && data.tag.id == cat.id ? 'active' : false).list-group-item= cat.name
