doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title Maintenance
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")
		style.
			.confirm-page__logo { display: inline-block; opacity: .25; }
			.confirm-page__logo img { max-width: 100%; }

	body.confirm-page: .site-body
		.container-xs
			.page-intro
				.confirm-page__logo
					img(src='/images/logo-inverted.svg', alt='SydJS', width=155, height=35)
			
			.page-content
				p.lead.mb-1.text-center  The SydJS site is undergoing maintenance in preparation for tonight's events.
				p.lead.mb-2.text-center Please check back later!
				
				p.text-center.mb-1 18th June 2014, 6pm - 9pm
				p.text-center.mb-1 Level 6, 341 George St (Atlassian)<br>Enter via the side door in Wynyard Street
