extends ../../layouts/default

include ../../mixins/meetup

block content
	.container-sm
		.page-intro.text-left
			a(href='/meetups').text-muted &larr; Back to all meetups
		.page-content
			+meetup(meetup)