extends ../../layouts/default

block intro
	.page-intro: .container
		h1 Members
		p The people and organisations who are part of SydJS. Should you be here? Join us!
		.buttons
			if !user
				a(href='/join').btn.btn-primary Join SydJS
			a(href='/members/organisations').btn.btn-default View Organisations
			a(href='/members/mentors').btn.btn-default View Mentors

block content
	.container
		if members.length
			each member in members
				h3.mv-0= member.name.full
				p: a(href='https://twitter.com/' + member.twitter.replace('@', ''), target='_blank')= member.twitter
				if member.bio.html
					p!= member.bio.html
				if member.talks.length
					h5.text-muted.caps.mv-0: strong Talks
					ul.list-unstyled
						each talk in member.talks
							li= talk.name
				if member.posts.length
					h5.text-muted.caps.mv-0: strong Posts
					ul.list-unstyled
						each post in member.posts
							li= post.title
		else
			h3.text-muted Oops, nobody's here!
