extends ../../layouts/default

block intro
	.page-intro: .container
		h1 Members
		p The people and organisations who are part of SydJS. Should you be here? Join us!
		.buttons
			if !user
				a(href='/join').btn.btn-primary Join SydJS
			a(href='/members/organisations').btn.btn-default View Organisations
			a(href='/members/mentors').btn.btn-default View Mentors

block content
	.container
		if members.length
			.row
				each member in members
					.col-sm-3
						h3.mt-0= member.name.full
						if member.bio.html
							p!= member.bio.html
						if member.talks.length
							h5.text-muted Talks
							ul.list-unstyled
								each talk in member.talks
									li= talk.name
						if member.posts.length
							h5.text-muted Posts
							ul.list-unstyled
								each post in member.posts
									li= post.title
		else
			h3.text-muted Oops, nobody's here!
