extends ../../layouts/default

block intro
	.page-intro: .container
		h1 Peer Mentoring
		p.lead We like to encourage mentoring within the community as a way of learning new skills or mastering your own. Here's what we mean, and how to get started.
	
block content
	.page-content: .container
		h2 What do we mean by 'Mentoring'?
		p The term mentoring can be daunting. It might make you think of a master and an apprentice. And, while some forms of mentoring might work well this way, it's probably the wrong way to approach improving ourselves as software craftsmen and women. The tech world moves fast and new shiny techniques and pieces of kit pop up all the time. There's tons to learn, and none of us are going to be expert at all of it.
		p So, the master/apprentice model won't work here. Instead, we should think of mentoring as a process for mutual improvement. Let's not try to define exactly what we mean by 'mentoring'. Instead, let's keep things as casual as possible and just remind ourselves that we all want to be better developers. Peer meetings, code reviews, and an informal support system (having a mentor as a possible first point of contact for questions) might help us grow.
		hr.mv-2
		.row
			.col-sm-6: .tile
				h3 Be a Mentor
				p Give mentoring a try. You'll be surprised by how much you learn when you share what you know. To be a mentor, you:
				ul
					li should be willing to meet with your mentee on some sort of regular schedule; how often you meet is up to you two
					li should have more experience, or around the same level of experience, as your mentee; peer mentoring is great, especially if you two are confident in different technologies
					li don't need to be or feel like an expert; you just need to be willing to share what you're confident in, and to try and help when and where you can
				p Interested? <a href="/join">Become a member of SydJS</a> and tick the 'Available for mentoring' box for your profile.
			.col-sm-6: .tile
				h3 Get a Mentor
				p Finding a mentor can be intimidating, but we're trying to make it easy and comfortable for you. We're still figuring out what works, so things are extremely informal right now. Take a look at the list of Available Mentors and get in touch with someone who seems interesting to you. See if things work out.
				p Note: some mentors may want to charge for the time they spend mentoring you. There's arguments to be made on both sides of that issue, so let's not argue it right now. Go look at the <a href="/members/mentors">available mentors</a> and contact a few who seem interesting to you. If you're OK with paying for mentoring, great. If not, try to find folks who are willing to do it for free. And remember: these aren't permanent assignments; mentors should feel comfortable asking you to find another mentor, and you should feel comfortable telling your mentor that things aren't working out, for whatever reason, without any hurt feelings.
		hr.mv-2
		a(href='/members/mentors').btn.btn-primary View available mentors