extends ../../layouts/default

block intro
	.page-intro: .container
		h1 Mentors
		p The mentors who are part of SydJS. Should you be here? Join us!
		.buttons
			if !user
				a(href='/join').btn.btn-primary Join SydJS
			a(href='/members').btn.btn-default View Members
			a(href='/members/organisations').btn.btn-default View Organisations

block content
	.container
		if members.length
			each member in members
				h3= member.name.full
				if member.bio.html
					p!= member.bio.html
				if member.talks.length
					h4 Talks
					ul
					each talk in member.talks
						li= talk.name
				if member.posts.length
					h4 Posts
					ul
					each post in member.posts
						li= post.title
		else
			h3.text-muted Oops, nobody's here!
