extends ../../layouts/default

block intro
	.container: .row: .col-md-6.col-md-offset-3
		.page-header
			h1 Reset your password
			p.lead Please enter your new password twice for confirmation and click 'change'.

block content
	.row: .col-md-6.col-md-offset-3
		form(method='post', novalidate).forgot-password
			input(type='hidden', name='action', value='reset-password')
			.form-group
				label New Password
				input(type='password', name='password').form-control
			.form-group
				label Confirm Password
				input(type='password', name='password_confirm').form-control
			button(type='submit').btn.btn-primary.btn-lg Change
			a(href='/signin').btn.btn-link Sign in

block js
	script.
		var $form = $('.forgot-password');
		
		var $submit = $form.find('.btn');
		
		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});
		
		$form.find("input[type!='hidden']").first().focus();
