extends ../../layouts/default

//- BODY
block content
	article#showbag
		header.showbag-header
			.container: .row: .col-sm-10.col-sm-offset-1
				h1.text-center.mb-0 The SydJS showbag
				p.lead.text-center.mt-1 Running a meetup? Learning Node or Keystone? Thinking about hybrid apps and Cordova? Here's a bag of freebies to get you well and truly on your way.
			.showbag-hero
			.showbag-buttons
				.container: .row
					.col-sm-4
						.text-center: a(href='http://github.com/borisbozic/sydjs-assets', target='_blank').btn.btn-primary.btn-lg.btn-block
							span.entypo.entypo-down &nbsp;
							| Download design assets
					.col-sm-4
						.text-center: a(href='http://github.com/bladey/sydjs-app', target='_blank').btn.btn-primary.btn-lg.btn-block
							span.entypo-social.entypo-github &nbsp;
							| Clone app on Github
					.col-sm-4
						.text-center: a(href='http://github.com/JedWatson/sydjs-site', target='_blank').btn.btn-primary.btn-lg.btn-block
							span.entypo-social.entypo-github &nbsp;
							| Clone website on Github
		main.showbag-main
			.container
				hr
				section
					h4.text-center Made with...
					.row: .col-sm-8.col-sm-offset-2
						.showbag-createdwith
							img(src='/images/showbag/cordova.jpg', alt='Cordova', title='Cordova')
							img(src='/images/showbag/backbone.jpg', alt='Backbone', title='Backbone')
							img(src='/images/showbag/jquery.jpg', alt='jQuery', title='jQuery')
							img(src='/images/showbag/velocity.jpg', alt='Velocity.js', title='Velocity.js')
							img(src='/images/showbag/moment.jpg', alt='Moment.js', title='Moment.js')
							img(src='/images/showbag/underscore.jpg', alt='Underscore.js', title='Underscore.js')
							img(src='/images/showbag/keystone.jpg', alt='KeystoneJS', title='KeystoneJS')
				section
					h4.text-center ... and lovingly brought to you by the guys at <a href="http://www.thinkmill.com.au" target="_blank">Thinkmill</a>
					ul.list-unstyled.members-list
						each member in members
							li.member-item
								.member.member--card
									.member-section.member__photo
										a(href=member.url): img(src=(member.photo.exists ? member._.photo.thumbnail(360,360) : member.avatarUrl || '/images/avatar.png'), alt=member.name.full, width=180, height=180)
									.member-section.member__info
										h5.tetx-center.member__title(class=(member.bio.html ? null : 'member__title-only')): a(href=member.url)= member.name.full
										if member.bio.html
											.member__bio.hidden-xs!=utils.cropString( utils.htmlToText(member.bio.html), 100, '...', true )


block js
	script.
		$(window).resize(function() {
			$('.showbag-hero').height($(window).height());
		});
		$(window).trigger('resize');
