// Meetups
// ------------------------------

.meetup {
	margin-top: 60px;
}
.meetup--present {
	margin-top: 0;
}
.meetup-talks {
	border-top: 1px dashed @hr-border;
	font-size: @font-size-base;
	padding-left: 40px;
	padding-top: 20px;
	position: relative;
	
	.meetup-talks__icon {
		color: mix(@text-color, @body-bg, 30%);
		display: block;
		position: absolute;
		left: 0;
		top: 20px;
	}
	.meetup-talks__heading {
		.text-muted();
		margin-top: 0;
	}
	.talk {
		margin-bottom: 15px;
	}
	.talk__name {
		color: @headings-color;
		font-size: @font-size-large;
	}
	.talk__speaker {
		// .text-muted();
		margin-bottom: 5px;
	}
	.talk__resource {
		.text-muted();
	}
}
